<div ng-include="'top.html'">
</div>
<div ng-include="'css.html'"></div>

<div  class="container-fluid">
	<div id="listbar-placeholder" class="hidden-lg hidden-md">&nbsp;</div>

	<div id="cap" class="row">
		<div class="col-xs-1 col-md-4"></div>
		<div class="col-xs-10 col-md-4">修改密碼 </div>
		<div class="col-xs-1 col-md-4"></div>
	</div>

	<div class="row">

		<div class="col-xs-1 col-md-4 "></div>
		<div class="col-xs-10 col-md-4 ">

			<form role="form" id="changepasswordForm" name="changepasswordForm" style="margin-top: 20px;">

				<div class="form-group">
					<label class=" control-label" for="password">密碼：</label>
					<input class="form-control " type="password" id="password" name="password" placeholder=" 請輸入密碼" />
				</div>
				<div class="form-group">
					<label class=" control-label" for="passwordre">密碼確認：</label>
					<input class="form-control " type="password" id="passwordre" name="passwordre" placeholder=" 請確認密碼" />
				</div>

				<div class="form-group">
					<label id="labcallback" style="color: #d9534f;"></label>
				</div>
				<div class="form-group">
					<button id="submit" type="submit" class="btn btn-defaul">
								  <i class="fa fa-check"></i>&nbsp;
									  確定</button>
				</div>
			</form>

			<div id="desc">
				<span>修改密碼后請從新登入。</span><br>

			</div>

		</div>
		<div class="col-xs-1 col-md-4"></div>
	</div>
</div>
<div ng-include="'foot.html'"></div>

<script type="text/javascript-lazy">
	$.registCallback = function(failMsg) {
		$('#labcallback').text(failMsg);
		$('#password').val('');
		$('#passwordre').val('');
		$('#changepasswordForm').bootstrapValidator('resetForm');
		$('#submit').click();
	};
	$("#changepasswordForm").bootstrapValidator({
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {

			password: {
				validators: {
					notEmpty: {
						message: '請輸入密碼'
					},
					stringLength: {
						min: 6,
						max: 36,
						message: '密碼字符 6-36个字符之间'
					}
				}
			},
			passwordre: {
				validators: {
					notEmpty: {
						message: '請輸入密碼確認'
					},
					identical: {
						field: 'password',
						message: '*兩次輸入密碼不一致'
					}
				}
			}
		}
	}).on('success.form.bv', function(e) {

		$('#labcallback').text('');
		e.preventDefault();
		scope.$apply(function() {
			scope.changepassword({
				password: $('#password').val()
			});
		});

	});
</script>