 
<div ng-include="'top.html'"></div>
<div ng-include="'css.html'"></div>

<div  class="container-fluid">
	<div id="listbar-placeholder" class="hidden-lg hidden-md">&nbsp;</div>
	<div id="cap" class="row">
		<div class="col-xs-1 col-md-4"></div>
		<div class="col-xs-10 col-md-4">註冊成功 </div>
		<div class="col-xs-1 col-md-4"></div>
	</div>
	
	<div class="row">

		<div class="col-xs-1 col-md-4 "></div>
		<div class="col-xs-10 col-md-4 ">

			<div id="desc">
				<span>如果您是第一次購物請加入會員，會員將可享有優惠。</span><br>
				<span>若您尚未加入會員，歡迎FB帳號直接登入加入會員。</span><br>
				<span>舊會員則請勿再以FB帳號登入會員，原帳號購物金恕無法共用</span><br>
				<span>如有會員資料異動或取消電子報，請隨時至會員中心修改更新。</span><br>

			</div>

			<div>
				<label id="labcallback" style="color: red;"></label>
			</div>
 

		</div>
		<div class="col-xs-1 col-md-4"></div>
	</div>
</div>
<div ng-include="'foot.html'"></div>