<div ng-include="'top.html'"></div>
<div ng-include="'css.html'"></div>
<div  class="container-fluid">
	<div id="listbar-placeholder" class="hidden-lg hidden-md">&nbsp;</div>
	
	<div id="cap" class="row">
		<div class="col-xs-1 col-md-4"></div>
		<div class="col-xs-10 col-md-4">操作過期 </div>
		<div class="col-xs-1 col-md-4"></div>
	</div>


	<div class="row">

		<div class="col-xs-1 col-md-4 "></div>
		<div class="col-xs-10 col-md-4 ">

			<div id="desc">
				<span>該操作已經過期或者失效！</span><br>
				
			</div>

			<div>
				<label id="labcallback" style="color: red;"></label>
			</div>
 

		</div>
		<div class="col-xs-1 col-md-4"></div>
	</div>
</div>
<div ng-include="'foot.html'"></div>