 
<div ng-include="'top.html'"></div>
<div ng-include="'css.html'"></div>

<div  class="container-fluid">
	<div id="listbar-placeholder" class="hidden-lg hidden-md">&nbsp;</div>
	<div id="cap" class="row">
		<div class="col-xs-1 col-md-4"></div>
		<div class="col-xs-10 col-md-4">會員信息 </div>
		<div class="col-xs-1 col-md-4"></div>
	</div>
	
	<div class="row">

		<div class="col-xs-1 col-md-4 "></div>
		<div class="col-xs-10 col-md-4 ">

	
			<form role="form" id="registForm" name="registForm"  style="margin-top: 20px;">
				<div class="form-group">
					<label class="control-label" for="id">賬號：</label>
					<input class="form-control " ng-model="user.id" type="text" id="id" name="id" placeholder=" 請輸入賬號" />
				</div>

				<div class="form-group">
					<label class=" control-label" for="password">密碼：</label>
					<input class="form-control " ng-model="user.password" type="password" id="password" name="password" placeholder=" 請輸入密碼" />
				</div>
				<div class="form-group">
					<label class=" control-label" for="passwordre">密碼確認：</label>
					<input class="form-control " type="password" id="passwordre" name="passwordre" placeholder=" 請確認密碼" />
				</div>

				<div class="form-group">
					<label class=" control-label" for="email">電子郵件：</label>
					<input class="form-control " type="text" ng-model="user.email" id="email" name="email" placeholder=" 請輸入郵件地址" />
				</div>

				<div class="form-group">
					<label class=" control-label" for="phone">手機號：</label>
					<input class="form-control " type="text" ng-model="user.phone" id="phone" name="phone" placeholder=" 請輸入手機號" />
				</div>

				<div class="form-group">
					or&nbsp;
					<a ui-sref="login">登入</a>
				</div>
				<div class="form-group">
					<label id="labcallback" style="color: #d9534f;"></label>
				</div>
				<div class="form-group">
					<button id="submit" type="submit" class="btn btn-defaul">
								  <i class="fa fa-user"></i>&nbsp;
									  創建</button>
				</div>
			</form>
 
		<div id="desc">
				<span>如果您是第一次購物請加入會員，會員將可享有優惠。</span><br>
				<span>若您尚未加入會員，歡迎FB帳號直接登入加入會員。</span><br>
				<span>舊會員則請勿再以FB帳號登入會員，原帳號購物金恕無法共用</span><br>
				<span>如有會員資料異動或取消電子報，請隨時至會員中心修改更新。</span><br>

			</div>
		</div>
		<div class="col-xs-1 col-md-4"></div>
	</div>
</div>
<div ng-include="'foot.html'"></div>

<script type="text/javascript-lazy">
	$.registCallback = function(failMsg) {
		$('#labcallback').text(failMsg);
		$('#password').val('');
		$('#passwordre').val('');
		$('#registForm').bootstrapValidator('resetForm');
		$('#submit').click();
	};
	$("#registForm").bootstrapValidator({
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {
			id: {
				validators: {
					notEmpty: {
						message: '請輸入賬號'
					},
					stringLength: {
						min: 6,
						max: 36,
						message: '賬號字符 6-36个字符之间'
					}
				}
			},
			email: {
				validators: {
					notEmpty: {
						message: '請輸入郵箱'
					},
					emailAddress: {
						message: '郵箱格式有誤'
					}
				}
			},
			password: {
				validators: {
					notEmpty: {
						message: '請輸入密碼'
					},
					stringLength: {
						min: 6,
						max: 36,
						message: '密碼字符 6-36个字符之间'
					}
				}
			},
			passwordre: {
				validators: {
					notEmpty: {
						message: '請輸入密碼確認'
					},
					identical: {
						field: 'password',
						message: '*兩次輸入密碼不一致'
					}
				}
			},
			phone: {
				validators: {
					notEmpty: {
						message: '請輸入手機號'
					},
					stringLength: {
						min: 11,
						max: 11,
						message: '請輸入11位手機號'
					}
				}
			}
		}
	}).on('success.form.bv', function(e) {
		
		$('#labcallback').text('');
		e.preventDefault(); 
		scope.$apply(function() {
			scope.regist('id');
		});

	});
</script>