<div ng-include="'top.html'"></div>
<div ng-include="'css.html'"></div>
<div class="container-fluid">
	<div id="listbar-placeholder" class="hidden-lg hidden-md">&nbsp;</div>
	<div id="cap" class="row">
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-7 col-md-7">收貨地址 </div>
		<div class="col-xs-3 col-md-3"><button type="button" ui-sref="memberaddressmodify({template:'',pk:'',ismajor:'false'})" class="col-xs-5 col-md-5 btn btn-link">
				  <i class="glyphicon glyphicon-plus"></i>&nbsp;新&nbsp;建
					</button></div>
		<div class="col-xs-1 col-md-1"></div>
	</div>

	<div class="row">

		<div class="col-md-1"></div>
		<div class="col-md-10">

			<div id="desc">
				<span>請填寫常用地址，方便您快速下單。</span><br>
				<span>舊會員則請勿再以FB帳號登入會員，原帳號購物金恕無法共用</span><br>
				<span>如有會員資料異動或取消電子報，請隨時至會員中心修改更新。</span><br>

			</div>

			<div class="panel panel-default" ng-repeat="x in addresslist">

				<div class="panel-heading">
					<h3 class="panel-title">{{x.name}}</h3>
				</div>
				<div class="panel-body">
					<div class="list-group-item-text">收貨人&emsp;：{{x.contacts}}</div>
					<div class="list-group-item-text">手機號&emsp;：{{x.mobphoneno}}</div>
					<div class="list-group-item-text">固定電話：{{x.phoneno}}</div>

					<div class="list-group-item-text">所在區域：{{x.country.name}}&nbsp;{{x.state.name}}&nbsp;{{x.city.name}}&nbsp;{{x.district.name}}&nbsp;{{x.county.name}} </div>
					<div class="list-group-item-text">郵政編碼：{{zipcode}}</div>
					<div class="list-group-item-text">詳細地址：{{x.addr1}}</div>
					<div class="list-group-item-text">&emsp;&emsp;&emsp;&emsp;&emsp;{{x.addr2}}</div>
					<div class="list-group-item-text">&emsp;&emsp;&emsp;&emsp;&emsp;{{x.addr3}}</div>

				</div>

				<div class="panel-footer">
					<button type="button" ui-sref="memberaddressmodify({template:'',pk:x.pk,ismajor:'false'})" class=" btn btn-link btn-sm">
				  		<i class="glyphicon glyphicon-pencil"></i>&nbsp;編&nbsp;輯
					</button>
					<button type="button" ng-click="delete(x)" class=" btn btn-link btn-sm">
				  		<i class="glyphicon glyphicon-trash"></i>&nbsp;刪&nbsp;除
					</button>

				</div>
			</div>

		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<div ng-include="'foot.html'"></div>