 
<div ng-include="'head.html'"></div>
<div ng-include="'css.html'"></div>

<div id="content" class="container-fluid">
	<div id="listbar-placeholder" class="hidden-lg hidden-md">&nbsp;</div>

	<div id="listbarwrap" class="row">

		<div class="col-md-3 col-xs-4">

			<button type="button" class="btn btn-default  hidden-xs hidden-sm" onclick="toggleFilter()">
			  	筛选&nbsp;<i class="fa fa-filter"></i>
			   <span class="badge">{{recordlength}}</span>
			</button>
			<button type="button" class="btn btn-default  hidden-lg hidden-md"
			 	ng-click="showMkgdispgroupasidefilter({title:mkgdispgroup.name})">
				筛选&nbsp;<span class="badge">{{recordlength}}</span>
			</button>
			<script>
				function getFilterHtml(){
					return 'teddy'
				}
			</script>
		 

		</div>

		<div class="col-md-3 col-xs-4  hidden-xs hidden-sm">
			<ol id="navpath" class="breadcrumb" disabled="disabled">
				<li ng-repeat="x in paths|range:1:paths.length">
					{{menu | nodeattr:x:'name'}}
				</li>
			</ol>
		</div>

		<div id="listbar-centerwrap" class="col-md-3 col-xs-4">

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				排序&emsp;&emsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="#">价格 低 -> 高</a>
					</li>
					<li>
						<a href="#">价格 高 -> 低</a>
					</li>
					<li>
						<a href="#">折扣</a>
					</li>
					<li>
						<a href="#">销量</a>
					</li>

				</ul>
			</div>

		</div>

		<div class="col-md-3 col-xs-4">

			<div class="btn-group hidden-lg hidden-md" role="group">
				<button type="button" onclick="setShowCount(1)" class="btn btn-default"><i class="fa fa-list"></i></button>
				<button type="button" onclick="setShowCount(2)" class="btn btn-default"><i class="fa fa-th"></i></button>
			</div>

			<div class="btn-group hidden-xs hidden-sm">

				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				顯示&nbsp;<i class="fa fa-th"></i>&emsp;&emsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">

					<li onclick="setShowCount(2)">
						<a href="javascript:;">2</a>
					</li>
					<li onclick="setShowCount(3)">
						<a href="javascript:;">3</a>
					</li>
					<li onclick="setShowCount(4)">
						<a href="javascript:;">4</a>
					</li>
				</ul>
			</div>

		</div>

	</div>

	<div id="listwrap" class="row">

		<div class="hidden-xs hidden-sm col-md-3" id="filter" style="">

			<script type="text/javascript-lazy">
				function checkAllStyle(sender) {

					var isChecked = $(sender).prop("checked");
					var inputs = $('#stylecontent').find("input");

					for(var i = 0; i < inputs.length; i++) {
						$(inputs[i]).prop({
							checked: isChecked
						});
					}

				}
			</script>

			<div id="styleFilterWrap" class=" panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#style" href="#stylecontent">
						款式選擇
					</a>
				</div>
				<div id="stylecontent" class="panel-collapse collapse in">
					<div class="panel-body"> 
						<div class="checkbox">
							<input id="styleall" class="styled" type="checkbox" onclick="checkAllStyle(this)" checked>
							<label for="styleall">全選</label>
						</div> 
						<div >
							<div class="checkbox checkbox-inline "
								 ng-repeat="x in ['长袖','短袖','七分袖']"> 
									<input id="asidestyle{{$index}}" class="styled" type="checkbox" checked>
									<label for="asidestyle{{$index}}">{{x}} </label>
							</div> 
						</div>

					</div>
				</div>
			</div>
 
			<script type="text/javascript-lazy">
				function checkAllColor(sender) {

					var isChecked = $(sender).prop("checked");
					var inputs = $('#colorcontent').find("input");

					for(var i = 0; i < inputs.length; i++) {
						$(inputs[i]).prop({
							checked: isChecked
						});
					}

				}
			</script>
			
			<div id="colorFilterWrap" class=" panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#color"  href="#colorcontent">
						颜色选择
					</a>
				</div>
				<div id="colorcontent" class="panel-collapse collapse in">
					<div class="panel-body"> 
						<div class="checkbox">
							<input id="colorall" class="styled" type="checkbox" 
							 onclick="checkAllColor(this)" checked>
							<label for="colorall">全選</label>
						</div>
					  
						<div >
							 
							<div class="checkbox checkbox-inline color-{{$index}}"
								 ng-repeat="x in ['#008000','#31708F','#B2DBA1']">
								<style>
									.color-{{$index}} input[type="checkbox"]:indeterminate + label::before,
									.color-{{$index}} input[type="radio"]:indeterminate + label::before {
									  background-color: {{x}};
									  border-color: {{x}};
									} 
									.color-{{$index}} input[type="checkbox"]:indeterminate + label::after,
									.color-{{$index}} input[type="radio"]:indeterminate + label::after {
									  background-color: #fff;
									}
									
									.color-{{$index}} input[type="checkbox"] + label::before,
									.color-{{$index}} input[type="radio"] + label::before {
									  background-color: {{x}};
									  border-color: {{x}};
									} 
									.color-{{$index}} input[type="checkbox"]:checked + label::after,
									.color-{{$index}} input[type="radio"]:checked + label::after {
									  color: #fff;
									}
									
									
								</style>								
							 
									<input id="color{{$index}}" class="styled" type="checkbox" checked>
									<label for="color{{$index}}">蓝色 </label>
								</div>
							 

						</div>

					</div>
				</div>
			</div>

			<div id="sizeFilterWrap" class=" panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#size" href="#sizecontent">
						尺寸选择
					</a>
				</div>
				<div id="sizecontent" class="panel-collapse collapse in">
					<div class="panel-body">
 
						<div class="checkbox">
							<input id="sizeall" class="styled" type="checkbox" onclick="checkAllStyle(this)" checked>
							<label for="sizeall">全選</label>
						</div> 
						<div >
							<div class="checkbox checkbox-inline "
								 ng-repeat="x in ['M','L','XXL']"> 
									<input id="size{{$index}}" class="styled" type="checkbox" checked>
									<label for="size{{$index}}">{{x}} </label>
							</div> 
						</div> 
					 

					</div>
				</div>
			</div>
			
			<div id="priceFilterWrap" class=" panel panel-default" >
				<div class="panel-heading" >
					<a data-toggle="collapse" data-parent="#price"  href="#pricecontent">
						价格区间
					</a>
				</div>
				<div id="pricecontent" class="panel-collapse collapse in">
					<div class="panel-body"> 
						<div class="checkbox  "  ng-repeat="x in ['$0 以上','$300 ~ $800','$800 ~ $2000','$2000 以上 ']" style="padding: 0;">
							<input name="price" id="price{{$index}}" class="styled" type="radio" checked>
							<label for="price{{$index}}">{{x}}</label>
						</div>
					  
					</div>
				</div>
			</div>
			
			<div id="buttonFilterWrap" >
				<button type="button" class="btn btn-default hidden-sm hidden-xs" style="width: 100%;"><i class="fa fa-undo"></i>&emsp;重&emsp;置</button>
			
			</div>
			
		</div>

		<div class="col-md-9" id="itemlistwrap"  style="padding:0 0 0 15px;">
		  	
		  		<div  ng-repeat="x in mkgdispgroup.lines" style="padding: 0px 15px 15px 0;">
		  			 
					<div class="carousel slide"  
						data-interval="false"
						onmouseover="showImgNav(this)"
						onmouseleave="hideImgNav(this)">
	 					
		 				<div class="carousel-inner"> 
		 					
		 					<div ng-repeat="y in x.dispunits[0].imgsrc_prodreal" 
		 						ng-class="$index | ifvalue:0:'item active':'item'">
							 	<a target="_blank" ui-sref="mainitem({template:'',path:stateParams.id,mainitemno:x.id,id:x.dispunits[0].id})">
	
									<img  class="lazy" src="{{config.loadimg}}" 
										data-original="{{y}}"  width="100%" /> 
								</a>									
							</div>
							
							<div ng-repeat="y in x.dispunits[0].imgsrc_prodmodel" class="item">
								<a target="_blank" ui-sref="mainitem({template:'',path:stateParams.id,mainitemno:x.id,id:x.dispunits[0].id})">
	
									<img  class="lazy" src="{{config.loadimg}}" 
										data-original="{{y}}"  width="100%" />
								</a>
							</div>
							
						</div> 
				
	
							<a class="left carousel-control" href="javasript:;" onclick="prevImg(this)" style="background: transparent;display: none;" role="button">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="javasript:;" onclick="nextImg(this)" style="background: transparent;display: none;" role="button">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
 
					</div>
					
					<div>{{x.name}}</div>
					<div style="font-weight: bold;">$500.52</div>
				 	<div> 
						<div  ng-repeat="y in ['#008000','#31708F','#B2DBA1']" 
							class="checkbox itemcolor-{{x.id}}-{{$index}} checkbox-inline" style="padding: 0;">
							 <style>
								.itemcolor-{{x.id}}-{{$index}} input[type="checkbox"]:indeterminate + label::before,
								.itemcolor-{{x.id}}-{{$index}} input[type="radio"]:indeterminate + label::before {
								  background-color: {{y}};
								  border-color: {{y}};
								} 
								.itemcolor-{{x.id}}-{{$index}} input[type="checkbox"]:indeterminate + label::after,
								.itemcolor-{{x.id}}-{{$index}} input[type="radio"]:indeterminate + label::after {
								  background-color: #fff;
								}
								
								.itemcolor-{{x.id}}-{{$index}} input[type="checkbox"] + label::before,
								.itemcolor-{{x.id}}-{{$index}} input[type="radio"] + label::before {
								  background-color: {{y}};
								  border-color: {{y}};
								} 
								.itemcolor-{{x.id}}-{{$index}} input[type="checkbox"]:checked + label::after,
								.itemcolor-{{x.id}}-{{$index}} input[type="radio"]:checked + label::after {
								  color: #fff;
								}
							</style>								
	                        <input type="radio" id="itemcolor-{{x.id}}-{{$index}}" name="itemcolor-{{x.id}}"
	                        	   ng-checked="$index===0">
	                        <label for="itemcolor-{{x.id}}-{{$index}}"></label>
						</div> 
				 	</div>
					
				</div>
		</div>

	</div>
</div>

<div ng-include="'foot.html'"></div>

			<script type="text/javascript-lazy">
				  
//				window.getAsideFilter = function(md){
//					var bodyHtml =  $("#styleFilterWrap").html()+
//					$("#colorFilterWrap").html()+
//					$("#sizeFilterWrap").html()+
//					$("#priceFilterWrap").html(); 
//					 
//					return getAsideHtml(md.title,bodyHtml,$("#buttonFilterWrap").html());  
//				}

				function toggleFilter() {
					var filter = $('#filter');
					filter.toggle();
					resizeFilter();
					sessionStorage.setItem('showfilter', !filter.is(':hidden'));
				}

				function hiddenFilter() {
					var filter = $('#filter');
					filter.hide();
					resizeFilter();
				}

				function resizeFilter() {
					var filter = $('#filter');
					if(filter.is(':hidden')) {
						filter.removeClass("col-md-3");
						$('#itemlistwrap').removeClass("col-md-9");
					} else {
						filter.addClass("col-md-3");
						$('#itemlistwrap').addClass("col-md-9");
					}
				}

				
 				function getShowFilter() {
					var showfilter = sessionStorage.getItem('showfilter');
					if(showfilter === null) {
						sessionStorage.setItem('showfilter', true);
					} 
					return sessionStorage.getItem('showfilter');
				}
			
				if(getShowFilter() == 'false') {
					hiddenFilter();
				}

		 
				$(function() {

					$(window).bind("scroll", function() {

						var foot = $("#foot");
						if(foot.offset().top <= $(window).height() + $(window).scrollTop()) {
							scope.$apply(function() {
								scope.loadMore(setShowCount(getShowCount()));
							});
						}

					});

				})

				window.afterLoad = function() {
					setTimeout(function() {
						setShowCount(getShowCount());
					}, 500);
				};

				
				setTimeout(function() {
					setShowCount(getShowCount());
				}, 500);
			</script>